<div class="employee-list">
    <ng-scrollbar [visibility]="'hover'">
        <table>
            <thead>
            <tr>
                <th>Имя</th>
                <th>Должность</th>
                <th>Список техники</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let employee of employees">
                <td>{{employee.firstName}} {{employee.lastName}}</td>
                <td>{{employee.position}}</td>
                <td></td>
            </tr>
            </tbody>
        </table>

    </ng-scrollbar>
    <button mat-fab
            color="primary"
            class="create-button"
            type="button"
            (click)="showCreateForm()">
        <i class="fas fa-plus"></i>
    </button>
</div>

<app-modal-window [title]="mode === modes.CREATE_MODE ? 'Добавить сотрудника' : 'Редактировать сотрудника'"
                  [visible]="mode === modes.EDIT_MODE || mode === modes.CREATE_MODE"
                  (modalClose)="onModalClose()">
    <app-create-edit-employee [mode]="mode"
                              *ngIf="mode === modes.EDIT_MODE || mode === modes.CREATE_MODE"
                              (cancel)="onModalClose()"
                              (save)="saveEmployee($event)">
    </app-create-edit-employee>
</app-modal-window>
