.employee-list {
    height: 100%;
    padding: 20px 20px 60px;
    position: relative;

    .create-button {
        position: absolute;
        bottom: 16px;
        right: 28px;

        i {
            font-size: 24px;
        }
    }
}
