.employee-list {
    height: 100%;
    padding: 20px 20px 60px;
    position: relative;

    .create-button {
        position: absolute;
        bottom: 16px;
        right: 28px;

        i {
            font-size: 24px;
        }
    }

    .mainTable {
        &__cell.last-cell {
            display: flex;
            align-content: center;
            i {
                margin: 0 4px;
                cursor: pointer;
                color: #555555;
                &:hover {
                    transform: scale(1.35);
                    color: #00ff00;
                }
            }
        }
    }
}
