<div class="employee-list">
    <ng-scrollbar [visibility]="'hover'">
        <div class="mainTable employee-table">
            <!--Header-->
            <div class="mainTable__header first-cell">Ф.И.О.</div>
            <div class="mainTable__header">Позиция</div>
            <div class="mainTable__header last-cell"></div>

            <!--row-->
            <ng-container *ngFor="let employee of employees">
                <div class="mainTable__cell first-cell">
                    {{employee.firstName}} {{employee.lastName}}
                </div>
                <div class="mainTable__cell">
                    {{employee.position}}
                </div>
                <div class="mainTable__cell last-cell" ></div>
            </ng-container>

        </div>

    </ng-scrollbar>
    <button mat-fab
            color="primary"
            class="create-button"
            type="button"
            [title]="'Добавить сотрудника'"
            (click)="showCreateForm()">
        <i class="fas fa-plus"></i>
    </button>
</div>

<app-modal-window [title]="mode === modes.CREATE_MODE ? 'Добавить сотрудника' : 'Редактировать сотрудника'"
                  [visible]="mode === modes.EDIT_MODE || mode === modes.CREATE_MODE"
                  (modalClose)="onModalClose()">
    <app-create-edit-employee [mode]="mode"
                              *ngIf="mode === modes.EDIT_MODE || mode === modes.CREATE_MODE"
                              (cancel)="onModalClose()"
                              (save)="saveEmployee($event)">
    </app-create-edit-employee>
</app-modal-window>
