.modal {
    position: fixed;
    background-color: rgba(214, 234, 168, 0.5);
    left: 0;
    top: -100vh;
    right: 0;
    bottom: -100vh;
    display: flex;

    &__wrapper {
        width: 600px;
        position: relative;
        background-color: white;
        padding: 16px;
        border-radius: 10px;
        margin: auto;
        border: 2px solid white;

        &.create {
            background-color: #b2f7b2;
        }
        &.edit {
            background-color: #fff0c5;
        }
        &.delete {
            background-color: #c63d3d;
        }
    }

    &__close {
        position: absolute;
        right: 12px;
        top: 6px;
        cursor: pointer;
        font-size: 18px;
    }

    &__heading {
        font-size: 20px;
        font-weight: 600;
    }

    &__content {
        margin: 12px 0;
    }


}
